{% extends 'pop_index/base.html' %}

{% block content %}
{% if profiles %}
{% for profile in profiles %}
    <div>
        <img src="{{ profile.avatar_url }}"> <h1>{{ profile.name }}</h1>
        <h2>Popularity Index: {{ profile.popularity}} / 10</h2>
        <p>{{ profile.description }}</p>
    </div>
{% endfor %}
{% else %}
<div>
    <h1>Profiles Unavailable</h1>
    <h2>Please Try Again Later</h2>
</div>
{% endif %}
{% endblock %}
