{% extends 'pop_index/base.html' %}

{% block content %}
<div class="col-md-4 center-block text-center">
    <button id="popularity_index_btn" name="popularity_index_btn" class="btn btn-primary btn-lg center-block" onClick="do_heavy_lifting();">
        Get popularity index!
    </button>
</div>
</br>
<div id="loading" style="display:none">
    <h2>Processing request...</h2>
</div>
{% endblock %}
